#signup {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #ebebeb;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #ebebeb 20%,
      #ebebeb 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #ebebeb 20%,
        #ebebeb 80%,
        transparent 80%,
        transparent
      )
      100px 100px,
    linear-gradient(#0b0b0b 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #0b0b0b 8px, #ebebeb 8px) -4px 0;
  background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
}

#login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #ebebeb;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #ebebeb 20%,
      #ebebeb 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #ebebeb 20%,
        #ebebeb 80%,
        transparent 80%,
        transparent
      )
      100px 100px,
    linear-gradient(#0b0b0b 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #0b0b0b 8px, #ebebeb 8px) -4px 0;
  background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
}


/* inspired by: https://css-tricks.com/responsive-data-tables/ */
/* Table Responsive */

.responsiveTable td .tdBefore {
  display: none;
}

.css-1e010e2 tr:nth-of-type(2n + 1) th,
.css-1e010e2 tr:nth-of-type(2n + 1) td {
  border-bottom-width: 1px;
  border-color: #fff !important;
  background-color: #c53030 !important;
  color: aliceblue;
}
.chakra-button:nth-of-type(2n + 1) .css-g5p1gb:nth-of-type(2n + 1) {
background-color: black !important;
color: #0b0b0b !important;
}

@media screen and (max-width: 40em) {
  /*
      Force table elements to not behave like tables anymore
      Hide table headers (but not display: none; for accessibility)
    */

  .responsiveTable table,
  .responsiveTable thead,
  .responsiveTable tbody,
  .responsiveTable th,
  .responsiveTable td,
  .responsiveTable tr {
    display: block;
  }

  .responsiveTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .responsiveTable tbody tr {
    padding: 0.25em;
  }

  .responsiveTable td.pivoted {
    /* Behave like a "row" */

    border: none !important;
    position: relative;
    padding-left: calc(50% + 10px) !important;
    text-align: left !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    border-bottom: 1px solid lightgrey !important;
  }

  .responsiveTable td .tdBefore {
    /* Now like a table header */
    position: absolute;
    display: block;

    /* Top/left values mimic padding */
    left: 1rem;
    width: calc(50% - 20px);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left !important;
    font-weight: 600;
  }
}
