#signup {
min-height: 100vh;
display: flex;
align-items: center;
background-color: #ebebeb;
opacity: 1;
background: radial-gradient(circle, transparent 20%, #ebebeb 20%, #ebebeb 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ebebeb 20%, #ebebeb 80%, transparent 80%, transparent) 100px 100px, linear-gradient(#0b0b0b 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #0b0b0b 8px, #ebebeb 8px) -4px 0;
background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
}

#login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #ebebeb;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #ebebeb 20%, #ebebeb 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ebebeb 20%, #ebebeb 80%, transparent 80%, transparent) 100px 100px, linear-gradient(#0b0b0b 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #0b0b0b 8px, #ebebeb 8px) -4px 0;
    background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
    }

